


.clearfix{
    overflow: auto;
}



.left_ul{
    list-style: none;
    text-decoration: none;
}
.left_li{
    list-style: none;
    text-decoration: none;
}
@import "variable.scss";
@import "card.scss";
@import "category.scss";
@import "grid.scss";
@import "popup.scss";
