$gutter-horizontal: 9px;

.categories{
    width: 100%;
    position: relative;
    margin: 0 auto;
                        
    &__img{
        width: 40%;
        text-align: center;
        margin: 0 auto;  
        display: block;
    }
    &__span{
     cursor: pointer;
     width: 100%;
     text-align: center;
    }
    &__caption{
        font-size: 15px;
        text-align: center;
        display: block;
        padding: 5px;
    }
    &__indexbox{   
        border-radius: 6px;
        background-color: #eee;
        width: 16.2066666666%;
        display: inline-block;
        transition: all .5s;
        &:hover{
            transform: translateY(-10px);
            -webkit-box-shadow: 14px 29px 46px 0px rgba(0,0,0,0.76);
            -moz-box-shadow: 14px 29px 46px 0px rgba(0,0,0,0.76);
            box-shadow: 14px 29px 46px 0px rgba(0,0,0,0.76);
        }
    }
}
.clearfix{
    overflow: auto;
}
.food_section{
    width: 80%;
    margin: 0 auto;
    &-info{
        width: 100%;
        margin: 0 auto;
        display: inline-block;
    }
    &-infobox{
        padding: 10px;
        margin: 20px;
        border-radius: 6px;
        transition: all .5s;
    }
    &-category{
        border-radius: 6px;
        background-color: #eee;
        // width: 25%;
        display: inline-block;
        transition: all .5s;
        overflow: hidden;
        margin: 8px 8px;
        cursor: pointer;
        &:hover,
        &:active{
            transform: translateY(-10px) scale(1.2);
            -webkit-box-shadow: 14px 29px 46px 0px rgba(0,0,0,0.76);
            -moz-box-shadow: 14px 29px 46px 0px rgba(0,0,0,0.76);
            box-shadow: 14px 29px 46px 0px rgba(0,0,0,0.76);
        }
        &__img{
            width: 100%;
            overflow: hidden;
        }
    }
    &__caption{
        font-size: 17px;
        text-align: center;
        display: block;
        padding: 9px; 
    }
}
.col-1-of-3{
    width: calc((90% - 2 * #{$gutter-horizontal}) / 3);
}
.left_ul{
    list-style: none;
    text-decoration: none;
}
.left_li{
    list-style: none;
    text-decoration: none;
}

.popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(black,.8);
    z-index: 999999;
&__content{
    margin: 0 auto;
    width: 40%;
    transform: translateY(50%);
    height: 50%;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(black,.8);
    border-radius: 5px;
    display: table;
    overflow: hidden;
    // opacity: 0;
    // transform: translate(-50%,-50%) scale(.5);
    // animation: popup 1s;
}
&__close{
    &:link,
    &:visited{
        color: black;
        position:absolute;
        top: 2rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        line-height: 1;

    }
}

// &__img{
//     display: block;
//     width: 100%;
//     }
// &__text{
//     font-size: 1.4rem;
//     margin-bottom: 4rem;
//     column-count: 2;
//     column-gap: 4rem;
//     column-rule: 1px solid $color-grey-light-1 ;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
// }
// &:target {
//     opacity: 1;
//     visibility: visible;
// }


//     &:hover{
//         color: $color-primary;
//     }
// }
}