.col-1-of-3 {
  width: calc((90% - 2 * 9px) / 3); }

@media only screen and (max-width: 600px) {
  .col-1-of-3 {
    width: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 100%; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 100%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 900px) {
    body {
      padding: 0; } }

.clearfix {
  overflow: auto; }

body {
  font-family: "lato",sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0; }

.food_section {
  position: relative;
  top: 90px; }
  .food_section-info {
    width: 100%;
    margin: 0 auto;
    display: inline-block; }
  .food_section-last {
    background-color: #eee;
    width: 100%;
    font-size: 20px; }
    .food_section-last-carticon {
      color: #668d2c; }
    .food_section-last-price {
      direction: rtl;
      padding: 5px 0px;
      width: 45%;
      margin: 0 auto;
      text-align: center; }
    .food_section-last-cart {
      width: 100%;
      text-align: center;
      font-size: 30px;
      padding-bottom: 6px; }
  .food_section-description {
    width: 100%;
    background-color: #ffffff;
    text-align: right;
    direction: rtl;
    font-size: 1.2rem;
    cursor: pointer; }
    .food_section-description-index {
      padding: 8px 0px; }
    .food_section-description-title {
      margin: 0;
      padding: 7px 7px; }
    @media only screen and (max-width: 600px) {
      .food_section-description {
        font-size: 3rem;
        float: right;
        width: 50%; } }
  .food_section-infobox {
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    transition: all .5s; }
  .food_section-category {
    border: 1px solid #eee;
    border-radius: 9px;
    display: inline-block;
    transition: all .5s;
    overflow: hidden;
    margin: 8px 8px; }
    .food_section-category:hover, .food_section-category:active {
      -webkit-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
      -moz-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
      box-shadow: 14px 29px 46px 0px rgba(170, 170, 170, 0.76); }
    .food_section-category__img {
      width: 100%;
      overflow: hidden;
      cursor: pointer; }
  .food_section__caption {
    font-size: 17px;
    text-align: center;
    display: block;
    padding: 9px; }
  @media only screen and (max-width: 600px) {
    .food_section {
      width: 100%; } }
  @media only screen and (max-width: 600px) {
    .food_section-img {
      float: left;
      width: 50%; } }

.price-number {
  float: left;
  margin-left: 40px; }

.categories {
  direction: rtl;
  position: fixed;
  margin: 0 auto;
  z-index: 1000;
  background-color: #ffffff; }
  .categories__img {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    display: block; }
  .categories__span {
    text-align: center;
    width: 100%; }
  .categories__caption {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    padding: 5px; }
  .categories__indexbox {
    border-radius: 6px;
    background-color: #eee;
    width: 16.2066666666%;
    display: inline-block;
    transition: all .5s; }
    .categories__indexbox:hover {
      transform: translateY(-10px);
      -webkit-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
      -moz-box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76);
      box-shadow: 14px 29px 46px 0px rgba(0, 0, 0, 0.76); }

@media only screen and (max-width: 600px) {
  .categories {
    width: 100%; }
    .categories__indexbox {
      border-radius: 0px;
      background-color: #eee;
      width: 16.2066666666%;
      display: inline-block; }
      .categories__indexbox:not(:last-child) {
        border-left: 1px solid red; }
      .categories__indexbox:hover {
        border-bottom: 4px solid red; }
    .categories__img {
      display: none; }
    .categories__span {
      cursor: pointer;
      width: 100%;
      text-align: center; }
    .categories__caption {
      font-size: 3rem; } }

.test {
  visibility: hidden; }

.popup {
  visibility: visible;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000; }
  .popup__content {
    width: 50%;
    height: 80%;
    transform: translateY(10%);
    margin: 0 auto;
    background-color: white; }
    .popup__content-img {
      display: block;
      width: 100%; }
    .popup__content-text {
      color: darkblue; }
    .popup__content-close .popup__content:link, .popup__content:visited {
      color: white;
      position: absolute;
      top: 2rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
      cursor: pointer; }

.fullbox {
  width: 70%;
  float: right; }
  @media only screen and (max-width: 600px) {
    .fullbox {
      width: 100%; } }

.sellbox {
  width: 30%;
  float: left;
  background-color: red;
  display: block;
  position: fixed; }
  @media only screen and (max-width: 600px) {
    .sellbox {
      display: none; } }

.clearfix {
  overflow: auto; }
