
.myheader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.myheader .logodelino{
    position: absolute;
    left: 50%;
    top: 50%;
}
.myheader .logodelino img.desktop{
    display: none;
}
.myheader .rightinheader{
    float: right;
    direction: rtl;
}
.myheader .rightinheader .loginbtn{
    border-radius: 7px;
    border-color: #EF5036;
    color: #EF5036;
    background-color: white;
}
.myheader .rightinheader .registerbtn{
   display: none;   
}
.myheader .leftinheader{
    float: left;
    direction: rtl;
}
.myheader .leftinheader .cartbtn{
    background: linear-gradient(to right ,#EE2969,#EE3A32);
}
.location{
    position: relative;
    background:white;
    top: 60px;

}
.location .wrapper{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.location .wrapper .city{
    font-weight: bold;
    font-size: 20px;
    color: #EE4427;
}
.location .wrapper i{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 30px;
}
.searching{
    background-color: #f8f8f8;
}
.section{
    position: relative;
    top: 70px;
}
.searchbtn{
    background: linear-gradient(to right ,#EE2969,#EE3A32);
    color: white;
    font-size: 20px;
    border: none;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 190px;
}
.searchinput{
    float: right;
    direction: rtl;
    width: 70%;
    height: 100%;
    border: none;
    background-color:white;
    overflow: hidden;
    font-size: 30px;
    border: 1px solid #eee;
}
@media only screen and  (min-width: 1400px){
    .section .searching .wrapper .searchingtext{
        font-size: 24px;
        padding: 10px 60px 10px 10px;
        height: 50px;
    }
}

@media only screen and (min-width:767px){
    .myheader .leftinheader .cartbtn{
        border-radius: 8px;
        font-size: 20px;
        padding: 7px 15px;  
        color: white;
        border: none;
    }
}
.myheader .carbtn{
font-size: 14px;
}


@media only screen and (min-width:767px){
    .myheader .rightinheader .registerbtn{
        background: transparent;
        border: none;
        font-size: 20px;
        display: inline-block;
    }


}
@media only screen and (min-width:767px){
.myheader .rightinheader .loginbtn{
    font-size: 20px;
    padding: 7px 15px;
}
}
@media only screen and (min-width: 650px) {
    .myheader .logodelino img.desktop{
        display: block;
    }
}
@media only screen and (min-width:767px){
 .myheader .logodelino{
     top: -15%;
     width: 101px;
     height: 35px;
     margin-left: -50px;
     margin-top: 17px;
 }   
}

