.food_section{
    position: relative;
    top: 90px;
    // @include respond(tab-port){
    //     max-width: 100px;
    // } 
    &-info{
        width: 100%;
        margin: 0 auto;
        display: inline-block;
    }
    &-last{
        background-color: $color-gray-light;
        width: 100%;    
        font-size: 20px;
        &-carticon{
            color: rgb(102, 141, 44);
        }
        &-price{
            direction: rtl;
            padding: 5px 0px;
            width: 45%;
            margin: 0 auto;
            text-align: center;
        }
        &-cart{
            width: 100%;
            text-align: center;
            font-size: 30px;
            padding-bottom: 6px;
        }
    }
    &-description{
        width: 100%;
        background-color: $color-white;
        text-align: right;
        direction: rtl;
        font-size: $default-font;
        cursor: pointer;
        &-index{
            padding: 8px 0px;
        }
        &-title{
            margin: 0;
            padding: 7px 7px;
        }
        @media only screen and  (max-width:600px){
            font-size: $default-font-mobile;
            float: right;
            width: 50%;
        } 
    }
    &-infobox{
        padding: 10px;
        margin: 20px;
        border-radius: 6px;
        transition: all .5s;
    }
    &-category{
        border: 1px solid $color-gray-light;
        border-radius: 9px;
        // background-color: #eee;
        // width: 25%;
        display: inline-block;
        transition: all .5s;
        overflow: hidden;
        margin: 8px 8px;
        &:hover,
        &:active{
            -webkit-box-shadow: 14px 29px 46px 0px rgba(0,0,0,0.76);
            -moz-box-shadow: 14px 29px 46px 0px rgba(0,0,0,0.76);
            box-shadow: 14px 29px 46px 0px rgba(170, 170, 170, 0.76);
        }
        &__img{
            width: 100%;
            overflow: hidden;
            cursor: pointer;
        }
    }
    &__caption{
        font-size: 17px;
        text-align: center;
        display: block;
        padding: 9px; 
    }
    @media only screen and  (max-width:600px){
        width: 100%;
    } 
    &-img{
        @media only screen and  (max-width:600px){
            float: left;
            width: 50%;
        } 

    }
}
.price-number{
    float: left;
    margin-left:40px; 
}
