.shop{
    display: none;
}
.header-cart{
    padding-top: 9px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom:15px;
    background:linear-gradient(-60deg,#ef4123,#ef2379);
    color: white;
}
.active-shop{
    display: block;
    position: fixed;
    width: 100%;
    height:100vh;
    z-index: 6000;
    background: rgba(0, 0, 0, 0.7);
}
.cartBox{
    width: 350px;
    background: white;
    height: 100vh;
    animation: open .5s;
}
.cart-text{
    text-align: right;
    float: right;
    width: 85%;
    font-size: 30px;
    line-height: 12px;
    padding: 10px 5px;
  .cart-text-icon{
      float: right;
      padding-right: 3px;
      padding-left: 10px;
  }
    .cart-text > i {
        float :right;
    }
}
.orderFood{
    direction: rtl;
}
.itemOrder{
    border-bottom: 1px solid #eeeeee;
    padding: 5px 10px;
}
@keyframes open{
    0%{
        opacity: 0;
        width: 0px;
    }
  
    100%{
        opacity: 1;
        width: 350px;
    }
}
@keyframes close{
    0%{
        opacity: 1;
        width: 350px;
    }
    100%{
        opacity: 0;
        width: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .cartBox{
        width: 100%;
        transition: open .5s;
    }
    @keyframes open{
        0%{
            opacity: 0;
            width: 0px;
        }
        100%{
            opacity: 1;
            width: 100%;
        }
    }
    .itemOrder{
        font-size: 15px;
    }
}