.modal {
  visibility: hidden;
}
.popup {
  visibility: visible;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(black, 0.7);
  z-index: 1000;
  .popup__content {
    border-radius: 5px;
    width: 35%;
    transform: translateY(23%);
    margin: 0 auto;
    background-color: white;
    // .popup__content-title {
    //   font-size: 1.5rem;
    //   font-weight: 300;
    // }
    // .popup__content-text {
    //   color: black;
    //   width: 90%;
    //   margin: 0 auto;
    //   direction: rtl;
    //   padding: 15px 0px;
    //   height: 188px;
    // }
    // .popup__content-ingredient {
    //   padding: 10px 0px;
    //   color: rgb(116, 114, 114);
    // }
    // .popup__content-close {
    //   width: 100%;
    //   padding: 12px 12px;
    //   margin-bottom: 10px;
    //   cursor: pointer;
    //   border-bottom: 1px solid grey;
    //   .popup__content-close--icon {
    //     width: 20px;
    //     height: 20px;
    //     fill: lightgrey;
    //   }
    // }
    // .popup__content-holder {
    //   border-top: 1px solid grey;
    //   width: 100%;
    //   text-align: center;
    //   padding-bottom: 5px;
    // }
    // .popup__content-btn {
    //   cursor: pointer;
    //   font-size: 1.8rem;
    //   padding: 5px;
    //   color: white;
    //   margin-top: 15px;
    //   border: none;
    //   border-radius: 5px;
    //   background: linear-gradient(-60deg, #ef4123, #ef2379);
    // }
    // .popup__content-addbtn {
    //   cursor: pointer;
    //   border: none;
    //   background: transparent;
    //   overflow: auto;
    //   display: block;
    //   float: left;
    //   text-align: center;
    // }
    // .popup__content-addbtn:focus{
    //   outline: none;
    // }
    // .popup__content-holder {
    //   display: block;
    // }
    // .plusbtn {
    //   width: 50px;
    //   height: 50px;
    // }
  }
}

  // width: 80%;
  // margin: 0 auto;
.selected{
  .quantity{
    display: inline;
  }
}
.imageFood{
    width: 100%;
    border-radius: 10px;
}
.disactive{
  background:#d2d2d2 !important ;
  cursor:default !important ;
}
figure{
  padding:10px 30px;
}
.details{
  padding: 9px;
  direction: rtl;
}
.price{
  float: right;
}
.quantity-holder{
  float: left;
}
.quantity{
  display: none;
}
.countcart{
  background: linear-gradient(-60deg,#ef4123,#ef2379) !important;
  direction: rtl;
  border-radius: 10px;
  padding: 1px;
  margin: 6px 10px;
}
.count-span{
  color: white;
}
footer{
  display: inline-block;
  width: 100%;
}
.count-span{
  font-size: 20px;
  padding: 0px 15px;
}
.footerpopup {
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .popup {
    .popup__content {
      width: 95%;
      transform: translateY(25%);
      .popup__content-img {
        width: 90%;
        .popup__content-img--inner {
          width: 100%;
        }
      }
      .popup__content-title {
        font-size: 3.5rem;
      }
      .popup__content-text {
        width: 90%;
      }
      .popup__content-ingredient {
        padding-top: 10px;
        font-size: 15px;
        color: rgb(116, 114, 114);
      }
    }
  }
}
